Repository easygoinglu/front-end-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: refactor coding style of vite config
  vite.config.ts
Due: eslint --fix

feat: format json file indentation
  package.json
  tsconfig.json
  tsconfig.node.json
Due: none

feat: configure eslint config
  .eslintrc.json
Due: none

feat: configure stylelint config
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

feat: refactor coding style
  src/env.d.ts
Due: eslint --fix

feat: add postcss var/nested plugin and vite postcss config
  package.json
  src/common/configs/css-variables.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix

feat: add typescript node config
  package.json
  yarn.lock
Due: none

feat: add eslint node config
  .eslintrc.json
Due: none

feat: add vue-router plugin
  package.json
  yarn.lock
Due: none

feat: refactor coding style
  src/main.ts
Due: eslint --fix

feat: use path alias @
  src/main.ts
Due: eslint --fix

feat: import normalize css
  src/main.ts
Due: eslint --fix

feat: add vue-router
  src/main.ts
  src/router/index.ts
  src/views/FrontEndOverview.vue
Due: eslint --fix, stylelint --fix

feat: add link component
  src/components/AppLink.vue
  src/main.ts
Due: eslint --fix, stylelint --fix

feat: add css breakpoint config
  src/common/configs/css-variables.ts
Due: eslint --fix

feat: add css z-index config
  src/common/configs/css-variables.ts
Due: eslint --fix

feat: add base css
  src/css/base.css
  src/main.ts
Due: eslint --fix, stylelint --fix

feat: add menu component
  public/icons/close_circle.svg
  public/icons/menu.svg
  src/common/configs/css-variables.ts
  src/common/constants/index.ts
  src/components/TheMenu.vue
Due: eslint --fix, stylelint --fix

feat: add click-outside directive
  src/common/directives/click-outside.ts
Due: eslint --fix

feat: add click-outside directive in menu
  src/components/TheMenu.vue
Due: eslint --fix, stylelint --fix

feat: add mask component
  src/common/configs/css-variables.ts
  src/components/AppMask.vue
Due: eslint --fix, stylelint --fix

feat: add mask in menu
  src/components/TheMenu.vue
Due: eslint --fix, stylelint --fix

feat: add layout
  src/App.vue
  src/layout/Layout.vue
Due: eslint --fix, stylelint --fix

feat: add pinia plugin for store
  package.json
  src/main.ts
  src/store/index.ts
  yarn.lock
Due: eslint --fix

feat: add self-evaluation store
  src/store/self-evaluation.ts
Due: eslint --fix

feat: add self-evaluation state to local storage
  src/store/index.ts
  src/store/self-evaluation.ts
Due: eslint --fix

feat: add self-evaluation component router
  src/common/constants/index.ts
  src/router/index.ts
  src/views/SelfEvaluation.vue
Due: eslint --fix, stylelint --fix

feat: add postcss-for plugin
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix

feat: add self-evaluation component
  .stylelintrc.json
  src/common/configs/css-variables.ts
  src/views/SelfEvaluation.vue
Due: eslint --fix, stylelint --fix

feat: add chart.js and vue-chartjs plugin
  package.json
  yarn.lock
Due: none

feat: add radar chart component
  src/components/AppChartRadar.vue
Due: eslint --fix, stylelint --fix

feat: add self-evaluation radar chart component
  src/common/configs/css-variables.ts
  src/components/SelfEvaluationChartRadar.vue
  src/views/SelfEvaluation.vue
Due: eslint --fix, stylelint --fix

feat: rename color variable
  src/common/configs/css-variables.ts
  src/views/SelfEvaluation.vue
Due: eslint --fix, stylelint --fix

feat: add modal component
  public/icons/close.svg
  src/common/configs/css-variables.ts
  src/components/AppModal.vue
Due: eslint --fix, stylelint --fix

feat: add button component
  src/components/AppButton.vue
Due: eslint --fix, stylelint --fix

feat: add modal message component
  src/components/AppModalMessage.vue
Due: eslint --fix, stylelint --fix

feat: add toast compnent
  public/icons/error.svg
  src/common/configs/css-variables.ts
  src/components/AppToast.vue
Due: eslint --fix, stylelint --fix

feat: add self-evaluation setting component
  src/components/SelfEvaluationModalSetting.vue
Due: eslint --fix, stylelint --fix

feat: add/edit/delete self-evaluation setting
  public/icons/add_circle.svg
  public/icons/delete.svg
  public/icons/edit.svg
  src/views/SelfEvaluation.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,vue,ts}
  stylelint --fix: any of: *.{css,vue}
