Repository easygoinglu/front-end-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: rename self-evaluation item tag
  src/views/SelfEvaluation.vue
Due: eslint --fix, stylelint --fix

feat: modify toast style
  src/common/configs/css-variables.ts
  src/components/AppToast.vue
Due: eslint --fix, stylelint --fix

feat: move menu name constants
  src/common/constants/index.ts
  src/components/TheMenu.vue
Due: eslint --fix, stylelint --fix

feat: move icons folder and rename path
  src/assets/icons/add_circle.svg
  src/assets/icons/close.svg
  src/assets/icons/close_circle.svg
  src/assets/icons/delete.svg
  src/assets/icons/edit.svg
  src/assets/icons/error.svg
  src/assets/icons/menu.svg
  src/components/AppModal.vue
  src/components/AppToast.vue
  src/components/TheMenu.vue
  src/views/SelfEvaluation.vue
Due: eslint --fix, stylelint --fix

feat: modify self-evaluation initial data
  src/store/self-evaluation.ts
Due: eslint --fix

feat: add image compression plugin
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix

feat: add front-end overview layout
  src/assets/images/universe.jpg
  src/views/FrontEndOverview.vue
Due: eslint --fix, stylelint --fix

feat: add timeline component
  src/components/AppTimeline.vue
Due: eslint --fix, stylelint --fix

feat: modify to prop of link component
  src/components/AppLink.vue
  src/components/TheMenu.vue
Due: eslint --fix, stylelint --fix

feat: add web history
  src/assets/images/earth.jpg
  src/assets/images/jupiter.jpg
  src/assets/images/mars.jpg
  src/assets/images/mercury.jpg
  src/assets/images/solar_system.jpg
  src/assets/images/venus.jpg
  src/components/WebHistory.vue
  src/views/FrontEndOverview.vue
Due: eslint --fix, stylelint --fix

feat: add menu component nav tag
  src/components/TheMenu.vue
Due: eslint --fix, stylelint --fix

feat: redesign planet images of web history to use css sprites
  src/assets/images/planet_sprites.jpg
  src/components/WebHistory.vue
Due: eslint --fix, stylelint --fix

feat: extract web history data
  src/components/WebHistory.vue
  src/data/web-history.ts
Due: eslint --fix, stylelint --fix

feat: add heroku config
  static.json
Due: none

feat: modify timeline component style
  src/components/AppTimeline.vue
Due: eslint --fix, stylelint --fix

feat: modify web type naming of web history template
  src/components/WebHistory.vue
Due: eslint --fix, stylelint --fix

feat: modify class naming of front-end overview template
  src/views/FrontEndOverview.vue
Due: eslint --fix, stylelint --fix

feat: add loading placeholder style
  src/css/style-utils.css
Due: stylelint --fix

feat: add skeleton screens of front-end-world image
  src/views/FrontEndOverview.vue
Due: eslint --fix, stylelint --fix

feat: redesign web type sprites to use image tags
  src/components/WebHistory.vue
Due: eslint --fix, stylelint --fix

feat: add skeleton screens of web type images
  src/components/WebHistory.vue
Due: eslint --fix, stylelint --fix

feat: modify readme
  README.md
Due: none

feat: scroll to top when changing route
  src/router/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,vue,ts}
  stylelint --fix: any of: *.{css,vue}
